*.swp
vim/.vim/.netrwhist
vim/.vim/plugged
vim/.vim/undodir/*
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/.gitkeep
.DS_Store
Session.vim
lazygit/.config/lazygit/*
!lazygit/.config/lazygit/config.yml
extensions.conf
~/.vim/undodir
codex/.codex/log/codex-tui.log
codex/.codex/sessions/*
codex/.codex/version.json
codex/.codex/sessions/*
codex/.codex/history.jsonl
codex/.codex
