*.swp
vim/.vim/.netrwhist
vim/.vim/plugged
vim/.vim/undodir/*
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/.gitkeep
.DS_Store
Session.vim
lazygit/.config/lazygit/*
!lazygit/.config/lazygit/config.yml
extensions.conf
